<div class="maina" id="admin-panel" style="display:none;">
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Nadzorna plošča</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-box'></i>
          <span class="links_name">Urejanje predmetov</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-list-ul'></i>
          <span class="links_name">Urejanje učiteljev</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="links_name">Urejanje učencev</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-a'></i>
          <span class="links_name">Ocene</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-b'></i>
          <span class="links_name">Urniki</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-c'></i>
          <span class="links_name">Odsotnosti</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-d'></i>
          <span class="links_name">Nastavitve</span>
        </a>
      </li>
      <li class="log_out">
        <a href="#">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Odjava</span>
        </a>
      </li>
    </ul>
  </div>
</div>
