<div class="sidebar">
  <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name" style="color: lightgreen;">Admin Panel</span>
  </div>
  <ul class="nav-links">
      <li><a href="subpages/absences/odsotnost.html"><i class='bx bx-grid-alt'></i><span>absences</span></a></li>
      <li><a href="subpages/exams/testi.html"><i class='bx bx-box'></i><span>exams</span></a></li>
      <li><a href="subpages/grades/ocene.html"><i class='bx bx-list-ul'></i><span>grades</span></a></li>
      <li><a href="subpages/subjects/predmeti.html"><i class='bx bx-pie-chart-alt-2'></i><span>subjectsv</span></a></li>
      <li><a href="subpages/students/ucenci.html"><i class='bx bx-a'></i><span>students</span></a></li>
      <li><a href="subpages/timetables/urnik.html"><i class='bx bx-b'></i><span>timetables</span></a></li>
      <li><a href="subpages/teachers/ucitelji.html"><i class='bx bx-c'></i><span>teachers</span></a></li>
      <li><a href="subpages/settings/nastavitve.html"><i class='bx bx-d'></i><span>Nastavitve</span></a></li>
      <li class="log_out"><a href="logout.php"><i class='bx bx-log-out'></i><span>Odjava</span></a></li>
  </ul>
</div>