
.maina {
  display: none; 
  background-color:rgb(245, 238, 238) ; 
  border: 1px solid var(--border-color); 
  border-radius: 0.5rem; 
  color: var(--text-color); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin: 0.1rem; 
  max-width: 2000px;
  height: 2000px;
}



.show-panel {
  display: block; 
}




.main-content {
  flex: 1; 
  background-color: var(--container-color); 
  padding: 2rem; 
  overflow-y: auto; 
  color: var(--text-color); 
  font-size: 200px;
}


.view {
  display: none;
}
.show {
  display: block; 
}
